{% block content %}


<div class="panel panel-default">
    <div class="panel-heading" style="display: none">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#">Crypto Reminder</a></li>
        </ul>
    </div>

    <div class="panel-body">
        <div id="message_sender_form">
            <form method="" action="" id="form">

                <div class="row" id="currency-conversion-boxes">
                    <!--Coin Conversion Box 1 USD-->
                    <div class="col-xs-12 col-md-12 col-lg-6" id="leftmost-conversion-boxes">
  
                        <div class="well well-lg coin_conversion_boxes">
                            <span class="currency_background_image">USD</span>
                            <div class="currency_conversion_foreground" id="usd_value"></div>
                        </div>
                    
                        <!--Coin Conversion Box 2 BTC-->

                        <div class="well well-lg coin_conversion_boxes">
                            <span class="symbol_background_image">
                        <i class="cc BTC" title="BTC"></i></span>
                            <span class="currency_conversion_foreground" id="btc_value"></span>
                        </div>
                    </div>

                    <!--Coin Conversion Box 3 ETH-->
                    <div class="col-xs-12 col-md-12 col-lg-6" id="rightmost-conversion-boxes">
                        <div class="well well-lg coin_conversion_boxes">
                            <span class="symbol_background_image">
                                <i class="cc ETH" title="ETH"></i>
                            </span>
                            <span class="currency_conversion_foreground" id="eth_value"></span>
                        </div>

                        <!--Coin Conversion Box 4 CAD-->
                        <div class="well well-lg coin_conversion_boxes">
                            <span class="currency_background_image">CAD</span>
                            <span class="currency_conversion_foreground" id="cad_value"></span>
                        </div>
                    </div>
                </div>


                
                <div class="row" id="crypto-chooser-inputs">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <!--Crypto Chooser-->
                        <div class="form-group half_width_input" id="crypto_chooser">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i id="chosen_icon" class="cc BTC" title="BTC"></i>
                                </span>
                                <input size="16" type="text" name="crypto_chooser" class="form-control" PLACEHOLDER="Altcoin">
                            </div>
                        </div>
                        <!--Amount Chooser-->
                        <div class="form-group half_width_input" id="amount_chooser">
                            <div class="input-group">

                                <input size="16" type="number" name="amount_chooser" class="form-control" PLACEHOLDER="Alert amount in BTC">
                                <span class="input-group-addon" id="basic-addon2">
                            <i id="alert_currency_icon" class="cc BTC" title="BTC"></i>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <!--Email Input-->
                        <div class="form-group half_width_input" id="user_email">
                            <div class="input-group">
                                <input type="email" name="user_email" class="form-control" placeholder="Email (Optional)" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <!--SMS Input-->
                        <div class="form-group half_width_input" id="user_phone">
                            <div class="input-group">
                                <input type="tel" name="user_phone" class="form-control" placeholder="SMS (Optional)" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-group btn-group-justified" role="group">
                    <button type="button" class="btn btn-default" name="crypto-alert-create" id="crypto-alert-create">Create Alert!
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="alert alert-success" id="last_submit_message" role="alert"></div>

{% endblock %}
