{% block content %}
<div class="row">
    <div class="col col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>
    <div class="col col-xs-12 col-sm-8 col-md-6 col-lg-4" id="main_view">
        <!--<div class="panel panel-default">-->
        <!--    <div class="panel-heading" style="display: none">-->
        <!--        <ul class="nav nav-pills">-->
        <!--            <li role="presentation"><a href="#">Crypto Reminder</a></li>-->
        <!--        </ul>-->
        <!--    </div>-->

        <!--    <div class="panel-body"></div></div>-->

        <!--<div class="row">-->
        <!--    <p id="conversion-boxes-helptext">CoinOwl sends you a one-time alert when your chosen cryptocurrency reaches the desired value.</p>-->
        <!--</div>-->
        <form method="" action="" id="form">
            <!--First Row: Conversion Boxes-->
            <div class="row" id="currency-conversion-boxes">
                <div class="col-xs-12 col-md-12 col-lg-6" id="leftmost-conversion-boxes">
                    <!--Coin Conversion Box 1 USD-->
                    <div class="well well-lg coin_conversion_boxes">
                        <span class="currency_background_image">USD</span>
                        <div class="currency_conversion_foreground" class="usd_value"></div>
                    </div>
                    <!--Coin Conversion Box 2 BTC-->
                    <div class="well well-lg coin_conversion_boxes">
                        <span class="symbol_background_image">
                        <i class="cc BTC" title="BTC"></i></span>
                        <span class="currency_conversion_foreground" class="btc_value"></span>
                    </div>
                </div>
                <!--Coin Conversion Box 3 ETH-->
                <div class="col-xs-12 col-md-12 col-lg-6" id="rightmost-conversion-boxes">
                    <div class="well well-lg coin_conversion_boxes">
                        <span class="symbol_background_image">
                                <i class="cc ETH" title="ETH"></i>
                            </span>
                        <span class="currency_conversion_foreground" class="eth_value"></span>
                    </div>
                    <!--Coin Conversion Box 4 CAD-->
                    <div class="well well-lg coin_conversion_boxes">
                        <span class="currency_background_image">CAD</span>
                        <span class="currency_conversion_foreground" class="cad_value"></span>
                    </div>
                </div>
            </div>




            <!--Altcoin Chooser-->
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="coin">Choose a crypto currency to track:</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                    <i id="chosen_icon" class="cc " title=""></i>
                                </span>
                        <input id="crypto_chooser" size="16" type="text" name="coin" class="form-control" PLACEHOLDER="Just type it in..">
                    </div>
                </div>
            </div>


            <div class="col-xs-12">
                <div class="well well-lg" id="conversion_amounts">
                    <table class="table">
                        <tr>
                            <td rowspan="4" id="conversion_amounts_info"></td>
                            <td></td>
                            <td data-value="" class="btc_value"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td data-value="" class="eth_value"></td>
                        </tr>
                        <tr>

                            <td></td>
                            <td data-value="" class="usd_value coin_current_price"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td data-value="" class="cad_value"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Which currency should the alert use -->
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="currency_chooser">
                        Choose a currency to use for price tracking. <br><span style="color: darkgray">You will receive a notification when <span class="amount_chooser_placeholder">your coin</span> reaches the desired value in this currency</span>
                    </label>
                    <div name="currency_chooser" id="currency_choice" class="text-center">
                        <button type="button" coin="usd_value" class="btn btn-info btn-default btn-md  currency_choice">USD</button>
                        <button type="button" coin="btc_value" class="btn btn-default btn-md">BTC</button>
                        <button type="button" coin="eth_value" class="btn btn-default btn-md">ETH</button>
                        <button type="button" coin="cad_value" class="btn btn-default btn-md">CAD</button>
                    </div>
                </div>
            </div>
            <!--Amount Chooser-->
            <div class="col col-xs-12">
                <div class="form-group" id="amount_chooser">
                    <label for="coin">
                            Send me an alert when <span class="amount_chooser_coin_placeholder">my coin</span> reaches a <span class="amount_chooser_currency_placeholder"></span> value of:
                            </label>
                    <div class="input-group">
                        <input size="16" type="number" name="alert_price" id='alert_price' class="form-control" PLACEHOLDER="Alert amount">
                        <span class="input-group-addon" id="basic-addon1">
                                <span class="glyphicon glyphicon-bitcoin" id="chosen_currency_icon" title="BTC"></span>
                        </span>
                        </span>
                    </div>
                </div>
            </div>



            <div class="col-xs-12">
                <div class="alert alert-info" id="helper-text" role="alert">

                </div>
            </div>





            <!--Third Row: Email and SMS inputs-->

            <!--Email Input-->
            <div class="col-xs-12 text-center">
                <label for="email">How would you like to be alerted?<br><span style="color: darkgray">Choose one or both methods.</span></label>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="form-group " id="user_email">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </span>
                        <input type="email" name="email" class="form-control" placeholder="Email (Optional)" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <!--SMS Input-->
            <div class="col-xs-12 col-lg-6">
                <div class="form-group " id="user_phone">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </span>
                        <input type="tel" name="sms" class="form-control" placeholder="SMS (Optional)" aria-describedby="basic-addon1">

                    </div>
                </div>
            </div>

            <!--Submit Button-->
            <div class="btn-group btn-group-justified" role="group">
                <button type="button" class="btn btn-info" name="crypto-alert-create" id="crypto-alert-create">Create Alert!
                    </button>
            </div>
        </form>
        <!--    </div>-->


        <!--</div>-->
        <!--Succesful Alert Creation Info Box-->
        <div class="alert alert-success" id="last_submit_message" role="alert"></div>
    </div>
</div>

{% endblock %}
